@media (max-width: 1461px) {
    footer {
        padding: 32px 10%;
    }
}


@media (max-width: 1200px) {

    /* header */
    header {
        padding: 26px 5%;

    }

    /* section2 */
    .section2 {
        height: 500px;
    }

    .section2pics {
        width: 140px;
        height: 120px;
    }

    /* section3 */
    .section3cards {
        width: 96%;
        justify-content: center;
        gap: 30px;
    }

    .section3card1 {
        width: 390px;
        height: 240px;
        object-fit: cover;
    }

    .section3card2 {
        width: 390px;
        height: 240px;
        object-fit: cover;
    }

    .section3card3 {
        display: none;
    }

    /* section4 */

    .arrows {
        display: none;
    }

    .section4button {
        display: flex;
    }

    /* footer */

    footer {
        padding: 32px 8%;
        gap: 9%;
    }


    /* main */
    .searchinput{
        width: 300px;
        gap: 120px;

    }
}


@media (max-width: 902px) {
    .section3cards {
        flex-direction: column;
    }

    .section3card1 {
        width: 90%;
    }

    .section3card2 {
        display: none;
    }


    footer {
        justify-content: center;
        align-items: center;
        row-gap: 40px;
    }

    /* main main main */

   
}