@media (max-width: 1200px) {
    /* header */
    header{
    padding: 26px 5%;
    
    }
    /* section2 */
    .section2{
        height: 500px;
    }
    .section2pics{
        width: 140px;
        height: 120px;
    }
    
}