@media (max-width: 500px) {
    header {
        padding: 9px 20px;
        gap: 0;
        height: 96px;

    }

    .fa-bars {
        display: flex;
    }

    .header_nav {
        display: none;

    }

    .mainlogo {
        display: none;
    }

    .main_logo_mobile_version {
        display: block;
    }


    /* section */

    .section1 {
        background-image: url(../img/Rectangle\ 109.svg);
        display: flex;
        object-fit: cover;
        height: 400px;
    }
}