@import url(variable.css);


.container {
    max-width: 1920px;
    width: 100%;
    margin: auto;
    border: 1px solid var(--lightcolor_of_font);
}


/* header */
header {
    max-width: 1920px;
    width: 100%;
    height: 96px;
    padding: 26px 12%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(213, 144, 110, 0.52);
    backdrop-filter: blur(5px);
    position: fixed;
    z-index: 2;

}

.fa-bars,
.fa-xmark {
    display: none;
    align-items: center;
    font-size: 30px;
    color: var(--basiccolor);
}



.header_nav {
    width: 316px;
    display: flex;
    justify-content: space-between;
}


.Active {
    color: var(--lightcolor_of_font);
    font-family: var(--majortext);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.Noactive {
    color: var(--basiccolor);
    font-family: var(--majortext);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.mainlogo {
    display: flex;
}

.main_logo_mobile_version {
    display: none;
}



.sign_in {
    display: flex;
    gap: 16px;
    justify-content: space-between;
    align-items: center;
}

.sign_in_txt {
    color: var(--basiccolor);
    font-family: var(--majortext);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.fa-cart-shopping {
    color: var(--basiccolor);
    font-size: 22px;
}

/* section 1*/

.section1 {
    width: 100%;
    height: 720px;
    background-image: url(../img/Rectangle\ 106.svg);
    background-size: cover;
    display: flex;
    position: relative;

}

.section1img {
    width: 100%;
    display: flex;
    object-fit: cover;
}


.section1content {
    width: 751px;
    height: 249px;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 283px;
    transform: translatex(-50%);
    z-index: 1;
}

.section1title {
    color: var(--basiccolor);
    font-family: var(--majortext);
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 16px;

}

.section1text {
    color: var(--basiccolor);
    font-family: var(--majortext);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 72px;
}

.section1button {
    color: var(--basiccolor);
    width: 311px;
    height: 56px;
    padding: 19px 0px 18px 0px;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border-radius: 10px;
    border: 2px solid var(--lightcolor_of_font);
}

/* section2  */

.section2 {
    width: 100%;
    height: 526px;
    background-color: var(--basiccolor);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 60px;
}


.section2cards {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.section2pics {
    width: 190px;
    border-radius: 70px;
}

.section2text {
    color: var(--Mediumcolor_of_font);
    font-family: var(--majortext);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* section3 */

.section3gallery {
    width: 100%;
    height: 922px;
    /* padding: 184px 365px 96px; */
    background-color: var(--Boldcolor_of_font);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.section3title {
    color: var(--basiccolor);
    font-family: var(--majortext);
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.section3cards {
    width: 1190px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    row-gap: 50px;
}

/* section4 */

.section4 {
    padding: 8% 9%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.productstitle {
    color: var(--Boldcolor_of_font);
    font-family: var(--majortext);
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.products {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.productscards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.productscard1 {
    
    display: flex;
    position: relative;
}

.productsprice {
    color: var(--Mediumcolor_of_font);
    font-family: var(--majortext);
    display: inline-flex;
    padding: 15px 17px 14px 17px;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 20px;
    background: var(--basiccolor);
    position: absolute;
    left: 7%;
    top: 195px;
    transform: translatex(-7%);
    z-index: 1;

}

.section4button {
    display: none;
    padding: 15px 32px 14px 31px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: var(--Mediumcolor_of_font);
    color: var(--basiccolor);
    font-family: var(--majortext);
    border: none;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* section5 */

.sectio5 {
    max-width: 1920px;
    width: 100%;
    height: 480px;
    background-image: url(../img/Rectangle\ 98.svg);
    background-size: cover;
}