@media (max-width: 894px) {
    .footerlogo {
        order: 2;
    }

    /* main */
    .allcategory {
        margin-bottom: 40px;
    }

    .allcategorytitle {
        font-size: 32px;
    }

    .product_list {
        justify-content: center;
        row-gap: 24px;
    }

    .benonecards2 {
        display: none;
    }

    .moveinpages {
        width: 256px;
        height: 32px;

    }
}


@media (max-width: 840px) {

    /* header */
    .fa-bars {
        display: flex;
    }

    .header_nav {
        width: 35%;
        height: 120px;
        justify-content: center;
        align-items: center;
        row-gap: 10px;
        background-color: var(--Mediumcolor_of_font);
        position: fixed;
        background-size: cover;
        top: 96px;
        left: -35%;
        flex-direction: column;
    }

    .aactive {
        left: 0;
    }

    .mainlogo {
        display: none;
    }

    .main_logo_mobile_version {
        display: block;
    }

    /* section1 */
    .section1 {
        height: 500px;
    }

    .section1content {
        top: 180px;
        width: 90%;
    }

    .section1title {
        font-size: 32px;
        margin-bottom: 8px;
    }

    .section1text {
        margin-bottom: 60px;
    }

    .section1button {
        width: 160px;
        padding: 15px 41px 14px 41px;
    }


    /* section2 */
    .section2 {
        height: 450px;
        justify-content: space-around;
        align-items: center;

    }


    /* section5 */

    .section5 {
        height: 200px;
        gap: 24px;
    }

    .section5title {
        font-size: 32px;
    }

    .Email {
        width: 200px;
    }

    /* section6 */

    .section6 {
        padding: 64px 20px;
    }

    .infotitle {
        font-size: 32px;
    }

    .infoblanks {
        gap: 20px;
        margin-bottom: 28px;
    }

    .helpcentertitle {
        height: 60px;
    }

    /* main */
    main {
        padding: 64px 12%;
    }

    .searchproduct {
        flex-wrap: wrap;
        gap: 24px;
    }

}


@media (max-width: 747px) {

    /* section2 */
    .section2 {
        padding: 25px 15%;

    }

    /* main */
    .searchinput {
        width: 200px;
        gap: 80px;
    }

    .searchbutton {
        width: 140px;
    }
}