@media (max-width: 840px) {
/* header */
    .fa-bars {
        display: flex;
    }

    .header_nav {
        width: 35%;
        height: 120px;
        justify-content: center;
        align-items: center;
        row-gap: 10px;
        background-color: var(--Mediumcolor_of_font);
        position: fixed;
        background-size: cover;
        top: 96px;
        left: -35%;
        flex-direction: column;
    }

    .aactive {
        left: 0;
    }
    .mainlogo {
        display: none;
    }

    .main_logo_mobile_version {
        display: block;
    }

     /* section1 */
     .section1{
        height: 500px;
     }
     .section1content {
        top: 180px;
        width: 90%;
     }
     .section1title{
        font-size: 32px;
        margin-bottom: 8px;
     }
     .section1text{
        margin-bottom: 60px;
     }

     .section1button{
        width: 160px;
        padding: 15px 41px 14px 41px;
     }
}
