:root{
    --Boldcolor_of_font: #402101;
    --Mediumcolor_of_font:  #B53B1B;
    --lightcolor_of_font: #D5906E;
    --basiccolor: #FFF;


    --majortext: 'Inter', sans-serif;
    --minortext: 'Rubik', sans-serif;
    
    --buttonshover:6px 7px 10px 2px var(--lightcolor_of_font);
    
}